.App {
  text-align: center;
}

.news-item {
    text-align: left;
    margin-bottom: 8px;
    background-color: #bcbbc5;
    padding: 4px 16px;

}
.news-item .name {
    font-size: 700;
}

.add__form{
    padding: 4px 40px;
    text-align: left;
}
.add__form .label {
    display: inline-block;
    min-width: 200px;
}
